.profile-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    

}

.profile-parent {
    display: flex;
    align-items: center;
    color: aliceblue;
}

.profile-details-name {
    font-size: 50px;
    font-family: "Poppins SemiBold";
}

.profile-details-role{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;

}
.profile-details-role h1 {
    font-size: 30px;
    
}
.primary-text {
    color: (--white);
}

.highlighted-text {
    color: var(--dark-purple);
}

.profile-role-tagline {
    font-size: 12px;
    margin: 5px 0 0 0;
    font-family: "Poppins Light";
}

.profile-options .highlighted-btn {
    margin: 0 0 0 28px; 
}
.profile-options .highlighted-btn:hover {
    margin: 0 0 0 28px; 
    background-color: #11761a;
    color: var(--white);
}

.profile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px var(--white);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 100px;
}

.profile-picture-background {
    height: 92%;
    width: 92%;
    background-image: url('../../../assets/Home/profile-photo.jpg');
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-picture-background:hover {
    transform: scale(1.07);
    transition: 1s ease-out;
}

.colz .colz-icon i {
    color: var(--white);
    padding: 8px;
    padding-left: 0px;
}
.colz .colz-icon i:hover {
    transform: scale(1.5);
    transition: 0.5s ease-out;
}
/* Small laptops and horizontal tablets */
@media screen and (max-width: 1024px) {
    .profile-picture {
        margin: 0 0 0 60px;
    }

    .profile-details-name {
        font-size: 38px;
    }

    .profile-details-role {
        font-size: 14px;
    }

    .profile-options .btn {
        width: 130px;
        padding: 12px;
    }
}

/* Vertical tablets */
@media screen and (max-width: 768px) {
    .profile-picture {
        height: 300px;
        width: 300px;
        margin: 0 auto;
    }
}

/* Large mobile devices */
@media screen and (max-width: 640px) {
    .profile-parent {
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }

    .profile-picture {
        margin: 0 !important;
    }

    .profile-options {
        display: flex;
        justify-content: space-between;
    }

    .profile-details {
        margin: 25px 0 0;
        text-align: center;
    }

    .profile-options .highlighted-btn {
        margin: 0 !important;
    }
}

/* Medium mobile devices */
@media screen and (max-width: 480px) {
    .profile-picture {
        height: 260px;
        width: 260px;
        margin-top: -60px;
    }

    .profile-details-name {
        font-size: 28px;
    }

    .profile-details-role {
        font-size: 12px;
    }
}

/* Small mobile devices */
@media screen and (max-width: 375px) {
    .profile-picture {
        height: 230px;
        width: 230px;
        margin-top: -80px;
    }

    .profile-details {
        width: 90%;
    }
}
