.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 670px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}