.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}

.about-me-parent{
    max-width: 1000px;
    width: 70%;

}

.about-me-card {
    display: flex;
    width: 100%;
    box-shadow: 0 0px 20px -2px rgb(130, 132, 238);
}

.about-me-profile {
    width: 50%;
    background-image: url('../../assets/AboutMe/me.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-me-details {
    width: 48%;
    text-align: justify;
    padding: 30px;
}

.about-me-description {
    font-size: 12px;
}

.about-me-highlights {
    margin: 80px 0;
}

.highlight-heading {
    font-family: "Poppins Bold";
    font-size: 14px;
    margin: 0 0 5px 0;
}
.highlights {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 12px;
}

.highlights-blob {
    height: 12px;
    width: 12px;
    margin: 0 10px 0 0;
    background-color: var(--dark-purple);
    border-radius: 50%;
}


.about-me-options .highlighted-btn {
    margin: 0 0 0 10px;
    
}

/* Responsive styles*/


@media screen and (max-width: 1170px) {
    .about-me-parent {
        width: 88%;
    }
    
    
}


@media screen and (max-width: 924px) {
    .about-me-profile {
        display: none;
    }
    .about-me-details {
        width: 100%;
    }
}


@media screen and (max-width: 480px) {
    .about-me-options {
        display: flex;
        flex-direction: column;
    }
    .about-me-options .highlighted-btn {
    margin: 24px 0 0 0;
    }
    .about-me-options button {
        width: 100%;
    }
}

