:root{
    --light-blue :  #3b82f6;
    --light-blue-shadow:  #2f68c5;
    --sea-green: #0ABEAD;
    --sea-green-dark: #0CBFAE;
    --sea-green-extra-dark: #09BEAD;
    --sea-green-shadow: rgba(11, 190, 173,0.4);
    --header-hamburger-background : rgba(11, 190, 173,0.8);
    --orange: #F57F17;
    --dark-purple: #2d15a7;
    --orange-shadow: rgba(245, 127, 23,0.2);
    --white: #ffffff;
    --black: #333333;
    --disabled-btn: #09bead7a;
    --error-message:  #e44f4fd1;
    --toast-error: #ef44446b;
    --toast-shadow:  #9c9c9ce3;
    --toast-success: #10b981b8;
    --loader-color: #0CBFAE
}